---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Aashiq";
import Footer from '../components/Footer.astro';
---

<BaseLayout pageTitle={pageTitle}>
	<div class="text-lg font-light">
		<div class=" mt-8">
			pronounced AH-shik
		</div>
		<div class=" my-4">
			I currently reside in Arizona, but hope to escape soon. In my free time I enjoy making music, collecting interesting prose, simulating reality, performing miracles, conspiring, scampering, levitating, etc.
		</div>
		<div class=" mt-4">
			You can contact me below: 
		</div>
	</div>

<div class="">
	
	<form name="contact-form" method="POST" data-netlify="true" action="/contact-form-submitted">
		<div class="mt-4">
		  <input type="text" name="Name" class="
		  mt-1
		  block
		  rounded-md
		  bg-transparent
		  border-2
		  transition
		  focus:border-white focus:ring-0
		" id="name" placeholder="Name" required>
		</div>
		<div class="mt-4">
		  <input type="email" name="Email" class="
		  mt-1
		  block
		  rounded-md
		  bg-transparent
		  border-2
		  transition
		  focus:border-white focus:ring-0
		" id="email" placeholder="Email" required>
		</div>
		<div class="mt-4">
		  <textarea id="message" name="Message" class="
		  mt-1
		  block
		  rounded-md
		  bg-transparent
		  border-2
		  transition
		  focus:border-white focus:ring-0
		" placeholder="Message" rows="3" required></textarea>
		</div>
		<div class="mt-5">
		  <button type="submit" class="rounded-xl bg-gray-200 p-1 pr-2 pl-2 bg-opacity-20" >Send Message</button>
		</div>
	  </form>
	  <br>
</div>
</BaseLayout>