---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Aashiq Shaikh";
---

<BaseLayout pageTitle={pageTitle}>
	

	<div class="text-xl font-light leading-tight flex-row">
		
		<div class="text-center my-8">
			Message Delivered!
		</div>


		<div class="text-center my-8">
			I will be in touch shortly. 
		</div>
	</div>
</BaseLayout>