---
---

<footer class="mt-16 opacity-20 hover:opacity-60">
  <small class="font-normal  ">Site built by Aashiq with <a target="_blank" rel="noopener noreferrer" class="underline underline-offset-2" href="https://astro.build/#">Astro</a> and <a target="_blank" rel="noopener noreferrer" class="underline underline-offset-2" href="https://tailwindcss.com/">Tailwind CSS</a></small>
</footer>