---
const platform = "github";
const username = "aashiqsworld";
---

<footer class="mt-24">
  <small class="font-normal opacity-20 ">Built by Aashiq with <a target="_blank" rel="noopener noreferrer" class="underline underline-offset-2" href="https://astro.build/#">Astro</a> and <a target="_blank" rel="noopener noreferrer" class="underline underline-offset-2" href="https://tailwindcss.com/">Tailwind CSS</a></small>
</footer>