---
const navItems = [
	{
		name: "Home",
		url: "/"
	},
	{
		name: "Projects",
		url: "/projects"
	},
	{
		name: "About",
		url: "/about"
	}
];

const { pageTitle = "Aashiq Shaikh"} = Astro.props;
---

<div class="flex group">
	<div class="opacity-25 group-hover:opacity-50 transition justify-self-start font-normal tracking-widest text-xl px-1 shrink italic sm:translate-y-1">
		{pageTitle}
	</div>
	<div class="flex font-light justify-end items-end grow">
		{navItems.map((item, index) =>
			<div class="px-2 flex-initial block">
			{
				Astro.url.pathname === item.url || Astro.url.pathname === item.url+'/' ?
					<span class="transition overline opacity-25 group-hover:opacity-50">{item.name}</span> : null
			}
			{
				Astro.url.pathname !== item.url && Astro.url.pathname !== item.url+'/' ?
					<a class="py-2 -my-2 " href={item.url}>
						<span class="hover:underline underline-offset-4 opacity-25 group-hover:opacity-100 transition">{item.name}</span>
					</a> : null
			}
			</div>
		)}
	</div>
</div>
<hr class="translate-y-1">
