---
// import '../styles/global.css'
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';


const {pageTitle = "Aashiq Shaikh"} = Astro.props;


const allPosts = await Astro.glob('../pages/posts/*.md');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>

	
	
	<body class="antialiased max-w-xl mb-40 mx-4 mt-14 sm:mx-auto bg-slate-50 min-w-0 flex-col px-2">
			<Navigation pageTitle = {pageTitle}/>
			<br>

			<div class="">
				<slot/>
			</div>

	</body>
</html>
