---
// import '../styles/global.css'
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';


const {pageTitle = "Aashiq Shaikh"} = Astro.props;


const allPosts = await Astro.glob('../pages/posts/*.md');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="apple-touch-icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>

	
	
	<body class="antialiased max-w-xl mb-40 mx-4 mt-24 sm:mx-auto bg-slate-50 min-w-0 flex-col px-2" style="
	@font-face {
		font-family: 'IBM_PS-55';
		src: url('/fonts/IBM_PS-55.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	  }	
	">
			<Navigation pageTitle = {pageTitle}/>
			
			

			<div class="mt-4">
				<slot/>
			</div>

	</body>
	
</html>
