---
// import '../styles/global.css'
import Navigation from '../components/Navigation.astro';


const {pageTitle = "Aashiq Shaikh"} = Astro.props;


const allPosts = await Astro.glob('../pages/posts/*.md');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="apple-touch-icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>


	<!--bg-[radial-gradient(ellipse_at_bottom,_var(&#45;&#45;tw-gradient-stops))] from-gray-800 via-gray-900 to-[#1c1a22]-->

	<body class="antialiased max-w-xl mb-40 mx-4 mt-24 sm:mx-auto bg-no-reapeat bg-fixed text-gray-300
	 min-w-0 flex-col px-2" style="



        background-color: rgb(0, 15, 0);
        background-image: radial-gradient(at 83% 15%, rgb(120, 53, 15) 0, transparent 79%), radial-gradient(at 46% 84%, rgb(76, 29, 149) 0, transparent 98%), radial-gradient(at 94% 86%, rgb(16,79,2) 0, transparent 68%), radial-gradient(at 24% 96%, rgb(24, 24, 27) 0, transparent 7%), radial-gradient(at 20% 55%, rgb(19, 78, 74) 0, transparent 73%);

        ">
			<Navigation pageTitle = {pageTitle}/>
			
			

			<div class="mt-4
			">
				<slot/>
			</div>
			<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>

	</body>
	
</html>
